.placard {
    width: 53%;
    margin-inline: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
  }
  
  .placard-header {
    background-color: #2d4b4e; /* Dark greenish background for the header */
    height: 70px;
    position: relative;
  }
  
  .placard-content {
    padding: 6px;
  }
  
  .course-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 0;
    padding-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .course-code {
    font-size: 14px;
    color: #007bff; /* Blue color for the course code */
    margin: 0;
  }
  
  .course-category {
    font-size: 10px;
    color: #999;
    margin-top: 2px;
  }
  